<div style="height: 93vh;" class="bg-dark d-flex align-items-center w-100">
    <div class="d-flex mx-auto h-25 flex-column justify-content-around align-content-center">
        <a routerLink="/dash" class="text-decoration-none text-light">Home</a>
        <a routerLink="/empmng" class="text-decoration-none text-light">Employee</a>
        <button class="btn text-light" (click)="lgout()">
            <i class="fa-solid fa-right-from-bracket"  style="color: #FFD43B;"></i>
            Logout
        </button>
    </div>
</div>
