.banner{
    background-image: url('https://w0.peakpx.com/wallpaper/985/489/HD-wallpaper-premium-abstract-black-background-with-line-stripes-pattern-dynamic-tech-graphic-banner-design-vector-corporate-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}